.vs/
Debug/
x64/
build/

**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

**.swp


**.exe

CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CmakeFiles/
build/

